html{ font-family:sans-serif; -webkit-text-size-adjust:100%; }
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{ display:block; }
audio,canvas,progress,video{ display: inline-block; vertical-align:baseline; }
audio:not([controls]){ display:none; height:0; }
[hidden],template{ display:none; }
i{font-style:normal;}
a{ background:transparent; }
a:active,a:hover { outline:0; }
abbr[title]{ border-bottom:1px dotted; }
b,strong{ font-weight:bold; }
dfn{ font-style:italic; }
h1{ font-size:2em; }
mark{ color:#000; background:#ff0; }
small{ font-size:80%; }
sub,sup{ font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup{ top:-.5em; }
sub{ bottom:-.25em; }
img,i{vertical-align:middle;}
img{ border:0;}
svg:not(:root){ overflow:hidden; }
figure{ margin:1em 40px; }
hr{ box-sizing:content-box; height:0; }
pre{ overflow:auto; }
code,kbd,pre,samp{ font-family:monospace, monospace; font-size:1em; }
button,input,optgroup,select,textarea{ font:inherit; margin:0; color:inherit; }
button{ overflow:visible; }
button,select{ text-transform:none; }
button,html input[type='button'],input[type='reset'],input[type='submit']{ cursor:pointer; -webkit-appearance:button; }
button[disabled],html input[disabled]{ cursor:default; }
input{ line-height:normal; }
input[type='checkbox'],input[type='radio']{ box-sizing:border-box; padding:0; }
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button{height:auto;}
input[type='search']{ -webkit-box-sizing: content-box; box-sizing: content-box; -webkit-appearance:textfield; }
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration { -webkit-appearance:none; }
fieldset{ margin:0 2px; padding:.35em .625em .75em; border:1px solid #c0c0c0; }
legend{ padding:0; border:0;}
textarea{ overflow:auto; }
optgroup{ font-weight:bold; }
table{ border-spacing:0; border-collapse:collapse; }
td,th{ padding:0; }
ul{list-style:none;}
*{margin:0px; padding:0px; /*-webkit-box-sizing:border-box; box-sizing: border-box; -webkit-user-select:none; outline:none;*/
    -webkit-tap-highlight-color:transparent; -webkit-tap-highlight-color:transparent; -webkit-backface-visibility:hidden; box-sizing:border-box; -webkit-overflow-scrolling:touch;}
body{ -webkit-overflow-scrolling:touch; background-color: #fff/*#e8ebf0*/;}
a{ text-decoration:none; color:#10c3a6; color:inherit;} a:active{ color:inherit;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type="number"]{-moz-appearance:textfield;}
iframe{position:relative; border:0px; outline:none; width:100%;}

html, body, .container{position:relative; width:100%; height:100%; font-family:"Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; }
.container{overflow-y:auto;}

/*滚动条整体部分*/
.container::-webkit-scrollbar{ width:8px; height:10px; background-color:#9D9D9D; border-radius:15px;}
/*scroll轨道背景*/
.container::-webkit-scrollbar-track{ -webkit-box-shadow:inset 0 0 6px rgba(232,233,239,1); border-radius:15px; background-color:#f9f9f9; }
/*滚动条中能上下移动的小块*/
.container::-webkit-scrollbar-thumb{ border-radius:15px; -webkit-box-shadow:inset 0 0 6px rgba(213,213,213,.5); background-color:#dadbdc; }

.mw{position:relative; width:100%;}
.mf{font-size:15px;}
.m-header{height:80px; z-index:9;}
/*.m-footer{!*height:404px;*!height:326px;}*/



.headers{padding:20px 40px; box-shadow:0px 2px 3px 0px #E7E7EF; display:flex; align-items:center; justify-content:space-between; z-index:2;}
.menus-box{display:flex; align-items:center; justify-content:start;}
ul.menus-ul{margin-left:119px; display:flex; align-items:center; justify-content:start;}
ul.menus-ul li{margin-right:40px;}
ul.menus-ul li a{font-size:15px; font-weight:bold; color:#000000;}
ul.menus-ul li a:hover{color:#10c3a6;}
.bat-lc{display:flex; align-items:center; justify-content:center; position:relative;}
.bat-chat{padding:10px 30px; border-radius:30px; background-color:#32BE6E; color:#fff; font-size:15px; font-weight:bold; cursor:pointer; transition:color .5s;}
.bat-lg{display:flex; align-items:center; justify-content:center; margin-right:50px; cursor:pointer;}
.lg-txt{color:#; margin-left:10px; cursor:pointer; position:relative; transition:color .5s;}
.lg-txt>label{cursor:pointer;}
.bat-lg>i{margin-left:20px; transform:rotate(90deg); padding-left:3px;}
.bat-lg:hover i, .bat-lg:hover .lg-txt>label{color:#10c3a6;}

ul.select-lg{position:absolute; width:140px; left:-40px; top:28px; border:1px solid #fff; z-index:6; height:0px; overflow:hidden; transition:height .3s;}
ul.select-lg li{display:flex; align-items:center; justify-content:start; padding:10px; cursor:pointer; background-color:#F7F8FA;}
ul.select-lg li label{cursor:pointer;}
i.quan{display:inline-block; width:17px; height:17px; border-radius:20px; background-color:#fff; border:3px solid #e7e7ef; margin-right:10px; transition:border-bottom-color,border-left-color, border-right-color, border-top-color .3s;}
ul.select-lg li:hover{background-color:#fff;}
ul.select-lg li:hover i.quan, ul.select-lg li:hover label{border-color:#10c3a6; color:#10c3a6;}
.bat-lg:hover ul.select-lg{height:119px; border:1px solid #E7E7EF;}





.index{background-color:#fff; padding:20px 0px; padding-top:0px;}
.index-banner{display:flex; align-items:center; justify-content:center; z-index:1;}
.idx-bnr{max-width:1590px; padding:0px 20px; display:flex; align-items:center; justify-content:center;}
.idx-bnr-left{position:relative; width:42%; z-index:2;}
.bn-right{position:relative; width:58%; z-index:1;}
.idx-bnr-left h1{font-size:50px; color:#000000;}
h3.ibl-h3{margin-top:38px;}
.idx-bnr-left h3{font-size:22px; color:#000000; font-weight:400;}
a.jump-a{display: block; align-items:center; justify-content:space-between; background-color:#10c3a6; margin-top:60px; width:280px; border-radius:60px;
padding:8px 30px; font-size:18px; color:#fff; font-weight:bold; position:relative; box-shadow:0px 9px 18px 2px rgba(0, 126, 255, 0.2);
    transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);}
a.jump-a:hover{box-shadow:0px 9px 20px 4px rgba(0, 126, 255, 0.3); transform:scale(1.03, 1.03);}
a.jump-a label{cursor:pointer;}
.share-code{position:absolute; background-color:#fff; height:0px; overflow:hidden; left:300px; top:-230px; border-radius:6px; opacity:0; transition:opacity, height .6s; z-index:9;}
.share-code>img{width:180px;}
.share-code h3{text-align:center; font-size:18px; font-weight:bold; color:#10c3a6;}
h3.s-h3{color:#000; margin-top:20px; margin-bottom:10px;}
a.jump-a:hover>.share-code{opacity:1; height:302px; padding:20px; border:2px solid #E8F3FF;}
.bn-dl{display:inline-block; margin-top:50px; display:flex; align-items:center; justify-content:start; color:#000000;}
.bn-dl label{line-height:18px;}
.web-link{font-size:14px; margin-left:10px;}
.web-a{display:inline-block; display:flex; align-items:center; justify-content:start; margin-left:20px; cursor:pointer;}
.mb-a{margin-left:5px; text-decoration:underline;}
a.mb-a:hover, a.web-a:hover{color:#10c3a6;}
.bn-right{cursor:pointer; position:relative;}
.bn-right>img{max-width:100%;}
img.bn-img1{opacity:1; transition:opacity 1.5s; position:relative; z-index:2;}
img.bn-img2{position:absolute; top:0px; left:0px; opacity:0; transition:opacity 1.5s; z-index:1;}
.bn-right:hover img.bn-img1{opacity:0;}
.bn-right:hover img.bn-img2{opacity:1;}
p.lx-p,a.hp-p{color:#10c3a6; font-size:18px;}
a.hp-p{display:flex; align-items:center; justify-content:start; margin-bottom:16px; cursor:pointer;}
a.hp-p>img{width:20px;}
a.hp-p>label{padding-left:20px; cursor:pointer;}
a.hp-p:hover>label{text-decoration:underline}
ul.help-ul{display:flex; flex-wrap:wrap; width:720px;}
ul.help-ul li{display:inline-block; width:172px; height:172px; margin-bottom:20px; padding:16px; text-align:center; cursor:pointer;}
ul.help-ul li>a{display:inline-block; width:96px;}
ul.help-ul li>a>img{width:96px;}
ul.help-ul li>a>p{margin-top:14px; display:inline-block; width:96px; text-align:center;}
ul.help-ul li:hover p{color:#10c3a6;}
a.yw-zx{color:#999;}


.introduce{display:flex; align-items:center; justify-content:center; padding-top:20px;}
.ide-box{width:1200px;}
.ide-title h1, .ide-title h5{text-align:center; color:#000000;}
.ide-title h1{ font-size:42px; font-weight:bold; margin-bottom:40px; }
.ide-title h5{ font-size:18px; font-weight:400; margin-bottom:10px;}
.ide-three{padding-top:60px;}
ul.ide-ul{display:flex; align-items:start; justify-content:space-between;}

ul.ide-ul li{padding:35px 40px; width:33.33%; text-align:center;
    position:relative; display:inline-block; background-color:#fff;
    -webkit-transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
ul.ide-ul li::after {
    content:""; position:absolute; z-index:-1; top:0; left:0; width:100%; height:100%;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.3); opacity:0; -webkit-transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul.ide-ul li:hover { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); z-index:2;}
ul.ide-ul li:hover::after { opacity: 1; }
p.ides-p{text-align:center; margin-top:40px;}
p.ides-p label{padding:6px 14px; color:#10c3a6; background-color:#e8f3ff; border-radius:4px; font-size:12px;}

/*ul.ide-ul li:hover{box-shadow:0px 10px 30px 6px rgba(150, 150, 150, 0.36);}*/
ul.ide-ul li h2{font-size:24px; font-weight:bold; color:#000000; margin-top:24px; transition:color .5s;}
.ides-txt{color:#000000; margin-top:20px; height:65px; font-size:14px;}
ul.ide-ul li:hover h2{color:#10c3a6 !important;}
ul.ide-ul li a{display:inline-block; padding:14px 40px; border:2px solid #10c3a6; border-radius:30px; font-size:14px; color:#10c3a6;
margin-top:40px; line-height:20px;}
ul.ide-ul li:hover a{background-color:#10c3a6; color:#fff;}

a#helpinfo{font-size:14px; font-weight:bold; color:#FFFFFF; cursor:pointer;}
a#helpinfo:hover{color:rgba(255,255,255,.8);}
#helplbl{cursor:pointer;}


.breadcrumbs{display:flex; align-items:center; justify-content:center; background-color:#10c3a6; padding-top:60px; z-index:1;}
.main-bc,.mcm{width:960px;}
h1.bc-title{font-size:42px; font-weight:bold; color:#FFFFFF;}
p.subtitle{display:inline-block; font-size:22px; font-weight:bold; color:#FFFFFF; margin-top:40px; padding-bottom:14px; border-bottom:5px solid #fff;}
.main-contents{display:flex; align-items:center; justify-content:center; background-color:#fff; padding:60px 0px;}
.sfy{color:#141E46;}
.part{margin-bottom:46px; position:relative; width:100%;}
.sfy h3{font-size:22px; font-weight:bold; margin-bottom:18px;}
.sfy p, p.ft-p{font-size:18px; line-height:30px; width:720px;}
h5.point{font-size:18px; font-weight:bold; color:#10c3a6; margin-bottom:12px;}
.part img{width:100%;}
p.ft-p{padding-left:20px;}
.f-part{padding-left:46px;}
.f-part h5, h5.pt-f{font-size:18px; font-weight:bold; color:#141E46; line-height:30px;}
.helpinfo-contents{margin-top:-50px; background-color:transparent; z-index:2; padding-bottom:0px;}
.hic{width:720px; background-color:#fff; margin-top:-50px; padding:60px 80px; min-height:322px;}
.hic p, p.ft-p{position:relative; width:100%; margin-bottom:10px;}
.tls-ul li>a{padding:14px; font-size:18px; color:#10c3a6; display:flex; align-items:start; justify-content:space-between;
border-bottom:1px solid #e6e6e6;}
.tls-ul li>a>i{color:#d1d4d9;}

.moving-menu{display:flex; align-items:start; justify-content:flex-start;}
.moving-menu>p{margin-left:20px; margin-top:40px; font-size:18px; color:#fff; padding-bottom:14px; cursor:pointer; border-bottom:5px solid transparent;}
.moving-menu>p.subtitle{font-size:18px; border-bottom:5px solid #fff;}
.moving-menu>p:nth-child(1){margin-left:0px;}
.moving-menu>p:hover{border-bottom: 5px solid #fff; font-weight:bold;}
/*.moving-ctn{display:flex; align-items:start; justify-content:start;}*/
.mrt-right{width:720px;}
.mctn-left{width:100px;}
a.mctn-nr{position:relative; display:inline-block; width:100%;}
.mctn-nr h4{font-size:24px; font-weight:bold;}
.mvg-content{margin-top:14px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.mvg-content img{width:100%;}
.mvg-top{margin-bottom:8px;}
.mvg-top label{font-size:14px; color:#ADB2BA;}
.page-turning{display:flex; align-items:center; justify-content:center; color:#141E46;}
.page-more{padding:1px; box-shadow:0px 0px 11px 1px rgba(173, 178, 186, 0.5); cursor:pointer; width:110px; height:30px; transition:background-color .5s;}
.page-turning label{text-align:center; background-color:#fff; cursor:pointer; width:108px; height:28px; display:inline-block; line-height:28px; font-size:14px;}
.page-more:hover{background-color:#10c3a6;}


.footers-iframe{height:404px;}
.fmenu-box{display:flex; align-items:center; justify-content:center; padding:50px 0px;}
.record{color:#fff; padding:30px 0px; font-size:14px;
    background-color:#000000; display:flex; align-items:center; justify-content:center; background-color:#000000;}
.comm-content{width:1200px;}
.record-content{display:flex; align-items:center; justify-content:space-between;}
a.shu-num{margin-right:20px;}
ul.footer-menu{display:flex; align-items:start; justify-content:start;}
ul.footer-menu li{margin-right:111px;}
ul.footer-menu li h5{font-size:18px; font-weight:bold; color:#000000;}
ul.footer-menu li p{color:#000000; margin-top:20px; cursor:pointer;}
ul.footer-menu li p:hover{color:#10c3a6;}
li.fmenu-wx{margin-right:0px;}

.curr-mu{color:#10c3a6 !important;}

.mctn-nr{margin-bottom:26px;}
h4.mvg-title{margin-bottom:20px;}
.mvgif-content img{width:100%;}

.mrt-box{display:flex; align-items:start; justify-content:start; margin-top:20px;}
.mrt-box:nth-child(1){margin-top:0px;}
.mrt-left{width:100px;}
h3.month-txt{width:46px; text-align:center;}
p.yr-txt{color:#ADB2BA; font-size:14px; width:46px; text-align:center;}

/*PC*/
@media screen and (min-width: 1300px) {
    .mobile{display:none !important;}
    .pc-footer{    /* height: 326px; */}
    .main-contents{min-height:365px;}
    .helpinfo-contents{min-height:410px;}
    .mctn-nrz{margin-top:14px; overflow:hidden; text-overflow:ellipsis;  display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;
        margin-bottom:40px; max-height:176px; cursor:pointer;}
}


/*PC小屏*/
@media screen and (min-width:1020px) and (max-width:1300px) {
    .mobile{display:none !important;}

    ul.menus-ul{margin-left:70px;}
    .index{padding-top:20px;}
    .idx-bnr{max-width:1020px;}
    .idx-bnr-left h1{font-size:30px;}
    .idx-bnr-left h3{font-size:16px;}
    a.jump-a{font-size:14px; margin-top:40px; width:240px;}
    a.jump-a>img{width:38px;}
    .pc-footer{    /* height: 326px; */}
    .main-contents{min-height:365px;}
    .helpinfo-contents{min-height:410px;}
    .mctn-nrz{margin-top:14px; overflow:hidden; text-overflow:ellipsis;  display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;
        margin-bottom:40px; max-height:176px; cursor:pointer;}

}



/*移动*/
@media screen and (max-width:1020px) {
    .pc{display:none !important;}
    .m-header{height:70px;}
    .headers{padding:15px;}
    ul#mobile-menu{position:fixed; width:100%; height:100%; top:-100%; right:0px; overflow:hidden;
        background:rgba(0,0,0,.5); padding:0px; transition:top .5s;}
    ul#mobile-menu li{position:relative; width:100%; padding:20px; border-bottom:1px solid #f3f4f8; color:#141E46; text-align:center; background-color:#fff;}
    img.close-m{position:absolute; right:10px; top:14px; width:26px;}
    label.menu-title{color:#7E7E8B;}

    .index{z-index:1;}
    .index-banner{padding-top:20px;}
    .idx-bnr{width:100%; display:block; padding:0px;}
    .idx-bnr-left{width:100%; padding:5px;}
    .idx-bnr-left h1{text-align:center; font-size:2rem; margin-top:10px;}
    .idx-bnr-left h1:nth-child(1){margin-top:0px;}
    .idx-bnr-left h3{text-align:center; margin-top:10px; font-size:1.2rem;}
    .idx-bnr-left h3.nth3-1{margin-top:30px;}
    .share-div{text-align:center; margin-top:40px; display:flex; align-items:center; justify-content:center;}
    a.jump-a{margin-top:0px; font-weight:500;}
    .bn-dl{justify-content:center; margin-top:30px;}
    .mb-a{text-decoration:none; background-color:#f5f6f7; width:110px; text-align:center; color:#000000; font-weight:bold; padding:14px 0px; border-radius:28px;}
    .mb-a:nth-child(1){margin-right:30px;}
    .bn-right{width:100%; position:relative; margin-top:30px; padding:5px;}
    img.bn-img3{opacity:1; position:relative; width:100%;}
    .ide-box{position:relative; width:100%; padding:15px; padding-bottom:0px;}
    .ide-title h1{font-size:1.78rem; margin-bottom:10px;}
    .ide-three{padding-top:40px;}
    ul.ide-ul{display:block; position:relative; width:100%;}
    ul.ide-ul li{position:relative; width:100%; box-shadow:0px 10px 10px 0px rgba(150, 150, 150, 0.36); margin-bottom:26px; padding:30px 20px;}
    ul.ide-ul li img{width:66%;}
    p.ides-p{margin-top:24px;}
    .ides-txt{margin-top:18px;}
    p.ides-p label{font-size:0.9rem; font-weight:bold;}
    .ides-txt{font-weight:bold;}
    ul.ide-ul li a{margin-top:8px;}
    ul.ide-ul li a{font-weight:bold; font-size:0.9rem;}

    .fmenu-box{padding-top:0px;}
    .comm-content, .footer-menu, ul.footer-menu li, .record-content{position:relative; width:100%;}
    .footer-menu,.record-content{display:block !important;}
    ul.footer-menu li{margin:0px; margin-top:60px;}
    ul.footer-menu li:nth-child(1){margin-top:0px;}
    ul.footer-menu li h5, ul.footer-menu li p{text-align:center; color:#ffffff;}
    .record{padding:20px 0px;}
    .record-content p{text-align:center; color:#ffffff; margin-top:10px;}
    .record-content p:nth-child(1){margin-top:0px;}

    .breadcrumbs, .main-bc, .mcm, .sfy p, p.ft-p, ul.help-ul{position:relative; width:100% !important;}
    .breadcrumbs{padding-top:30px;}
    .main-bc{padding-left:20px;}
    h1.bc-title{font-size:2rem; font-weight:500;}
    p.subtitle{margin-top:16px; font-size:1.4rem; padding-bottom:10px; border-bottom:3px solid #fff; font-weight:500;}
    .main-contents{padding:20px 0px;}
    .sfy{padding:10px 20px;}
    .sfy h3{font-size:1.3rem; margin-bottom:10px;}
    .sfy p, p.ft-p{font-size:1rem; margin-bottom:10px;}
    .part{margin-bottom:30px;}
    a.hp-p>label{font-size:1rem;}
    ul.help-ul li{height:auto; width:50%;}
    .helpinfo-contents{padding:20px; margin-top:-20px;}
    .hlp-bc{margin-top:-26px;}
    .bdbs{height:131px !important;}

    .mctn-right,.mrt-right{width:100%;}
    #mvgu>p{height:39px; margin-top:44px;}
    #mvgu>p.subtitle{margin-top:44px;}

    .mctn-nrz{margin-top:14px; overflow:hidden; max-height:123px; margin-bottom:20px;}

}

